{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>Online Resource Management</title>
    <script src="{% static 'js/javascript.js' %}" language="javascript"></script>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>

<body>

    <style>
        body {
            padding-top: 60px;
        }
    </style>


    <script>

        function validate_password() {
            pw = window.formpassword.psword.value;
            if (pw == "1234") {
                return true;
            }
            else {
                window.alert("Password is Incorrect. Please Try Again!");
                return false;
            }

        }

    </script>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-expand-md bg-dark navbar-dark py-3">
        <div class="container">
            <a href="/" class="navbar-brand">Online Resource Management</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link hide-border bg-dark" data-bs-toggle="modal"
                            data-bs-target="#written">Creators</button>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'add-item' %}" class="nav-link">Upload</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">Logout</button>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <button class="nav-link hide-border bg-dark" data-bs-toggle="modal"
                            data-bs-target="#register-password">Register</button>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link">Login</a>
                    </li>
                    {% endif %}
                    
                    <li class="nav-item d-none d-lg-block d-xl-none">
                        <a type="button" onclick="darkmode()" class="nav-link"> <i class="bi bi-circle-half h1"></i> </a>
                    </li>
                    <li class="nav-item .d-lg-none .d-xl-block">
                        <a type="button" onclick="darkmode()" class="nav-link"> Dark mode </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% if user.is_authenticated %}
    <div>
        <br>
        <a href="/" style="text-decoration: None;">
            <h2>Hello <span class="text-danger">{{user.first_name}}!</span></h2>
        </a>
        
        <br>
    </div>

    {% endif %}


    <!-- Showcase  -->

    <section class="bg-black text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div>
                    <h1>Become an <span class="text-warning">
                            Explorer
                        </span></h1>
                    <p style="text-align: justify;">
                        Find all your Required Materials and books here.
                        And Tutorials on latest technologies with many Competative Resources
                        for GATE, CAT, Interview Preparation right at one place.
                    </p>
                    </a>
                    <div style="text-align: center">
                        <a href="classes" class="btn btn-primary btn-lg my-4">Start Now </a>
                    </div>
                </div>
                <img class="img-fluid w-50 d-none d-sm-block" src="{% static 'image/showcase.svg' %}" alt="" />
            </div>
        </div>
    </section>
    

    <!-- Newsletter -->
    <section class="bg-primary text-light p-5">
        <div class="container">
            <div class="d-md-flex justify-content-between align-items-center">
                <div>
                    <h3 class="mb-3 mb-md-0">Sign up For our Newsletter</h3>
                    <h5 class="py-2">Get the latest updates right away </h5>
                </div>
                <div class="input-group news-input">
                    <input type="text" class="form-control" placeholder="Enter your email" />
                    <button class="btn btn-dark btn-lg" type="button">Subscribe</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Boxes -->
    <section class="p-5">
        <div class="container">
            <div class="row text-center g-3">
                <div class="col-md ">
                    <div class="card bg-dark text-light">
                        <img src="{% static 'image/gate.png' %}" class="card-img-top" alt="">
                        <div class="card-body text-center">
                            <h3 class="card-title mb-3">
                                Gate Materials
                            </h3>
                            <p class="card-text">
                                For CSE, ECE, EEE, MECH standard Guides
                            </p>
                            <a href="#gate_materials" class="btn btn-primary">Read Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-secondary text-light">
                        <img src="{% static 'image/academics.png' %}" class="card-img-top mt-3 mb-2" alt="">
                        <div class="card-body text-center">
                            <h3 class="card-title mb-4 mt-4">
                                Academics
                            </h3>
                            <p class="card-text">
                                For CSE, ECE, EEE, MECH Text Books
                            </p>
                            <a href="#academics" class="btn btn-primary">Read Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="h1 mb-5 mt-5">
                            <img src="{% static 'image/notes.png' %}" class="card-img-top mt-5 mb-5" alt="">
                        </div>
                        <div class="card-body text-center">
                            <h3 class="card-title mb-4">
                                Lecture Notes
                            </h3>
                            <p class="card-text">
                                For CSE, ECE, EEE, MECH Lecture Notes
                            </p>
                            <a href="notes" class="btn btn-primary">Read Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Learn Sections -->
    <section id="learn" class="p-1">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md">
                    <img src="{% static 'image/desciption.svg' %}" alt="" class="img-fluid w-100">
                </div>
                <div class="col-md p-3">
                    <h2>What it's All About</h2>
                    <p class="lead">
                        This website is all about providing you the resources
                        required for your learning with ease.This site make you a
                        vailable with materials needed for going with the Academics and
                        cracking Compitative Exams like GATE, CAT, Interview preparation
                        tips etc...
                    </p>
                    <p class="lead">
                        Now, Take a step forward to access the Library. And start your prepeation now.
                    </p>
                    <a href="readme" class="btn btn-light mt-3">
                        <i class="bi bi-chevron-right"> Read More</i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Copyright Section-->
    <section id="learn" class="p-1 bg-secondary text-light">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md p-3">
                    <h2>Knowledge Base</h2>
                    <p class="lead">
                        My Info<br>
                        Who We Are<br>
                        Contact Us<br>
                        What We Do<br>
                        Helpful Links<br>
                    </p>
                    <address>
                        Contact : <a href="tel:9390858915">Call now</a> <br>
                        Email ID : <a href="mailto:hemanth680684@gmail.com?Subject=Hello%20again">Send Mail</a>
                    </address>
                </div>
                <div class="col-md">
                    <img src="{% static 'image/footer.svg' %}" alt="" class="img-fluid w-100">
                </div>
            </div>
        </div>
        <p class="lead text-center">
            Terms of Service | Privacy Policy | Sitemap | All Rights Reserved.
        </p>
    </section>

    <!-- Footer Section -->
    <footer class="pb-3 bg-dark text-light text-center position-relative">
        <div class="container">
            <p class="lead">
                Copyright &copy; 2021 Online Library
            </p>
            <a href="#" class="position-absolute bottom-0 end-0 p-5">
                <i class="bi bi-arrow-up-circle h1"></i>
            </a>
        </div>
    </footer>



    <!-- Modal -->

    <!-- For Creators -->
    <div class="modal fade" id="written" tabindex="-1" aria-labelledby="writtenLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> Project Creators </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        <center>
                            *-*-*-*-*-*-*-*-*-*-<b style="color: firebrick;">Batch - 3-B</b>-*-*-*-*-*-*-*-*-*-*<br><br>
                            <b style="color: firebrick;">Project Name : Online Resource Management</b><br><br>
                            19331A0573 : Kantubhukta Hemanth <br>
                            <a href="tel:9390858915"> Mobile No. : 9390858915 </a><br>
                            G-Mail : <a href="mailto:hemanth680684@gmail.com?Subject=Hello%20Hemanth">hemanth680684@gmail.com</a>
                        </center>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="master" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- For Password Confirmation -->
    <div class="modal fade" id="register-password" tabindex="-1" aria-labelledby="register-passwordLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> Password Confirmation </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="accounts/register" onsubmit="return validate_password()" name="formpassword" method="post"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="Password" class="col-form-label">Enter Password : </label>
                            <input type="text" onfocus="this.value=''" class="form-control" id="psword" name="psword">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>